<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.teskalabs.cvio">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>

        <meta-data android:name="seacat.require_user_auth" android:value="false" />

        <provider
            android:authorities="${applicationId}.cvioinitprovider"
            android:exported="false"
            android:enabled="true"
            android:name=".CVIOInitProvider" />

    </application>

</manifest>
