<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="io.catvision.app">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_SETTINGS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="cvio.api_key_id"
            android:value="G9F1URT/NREYrXO7SKYYdg"/>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_label">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter
                android:autoVerify="true"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                    android:host="www.catvision.io"
                    android:pathPrefix="/get-app-android"
                    android:scheme="https"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TestAreaActivity"
            android:label="@string/title_activity_test_area"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".QRCodeScannerActivity"
            android:label="@string/title_activity_qrcode_scanner"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".ApiKeyObtainerActivity"
            android:label="@string/title_activity_api_key_obtainer"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".InfoActivity"
            android:label="@string/title_activity_info"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".tictactoe.GameActivity"
            android:label="@string/tic_tac_toe_label"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>